body {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0;
}

html, body {
  /*
  height: 100%;
  overflow: hidden;
  */
}

/* Range slider styles */
#range {
  margin: 60px 20px;
  height: 600px;
}

/* Temp styles for ui stuff */
.menu-toggle {
  background-image: url('../img/06_menu_stack-512.png');
  width: 50px;
  height: 50px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.strudel-options {
  display: none;
  /*
  top: 380px;
  left: 120px;
  */
}

.menu-active .strudel-options {
  display: block;
  padding: 20px 0;
}

.options-toggle {
  font-size: 20px;
  cursor: pointer;
}

.options-toggle::after {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  content: ' ';
  display: inline-block;
  margin-left: 10px;
  transition: transform .25s;
}

.options-active.options-toggle::after {
  transform: rotate(90deg);
}

.option-set {
  box-sizing: border-box;
  padding: 20px;
  display: none;
}

.options-container {
  box-sizing: border-box;
  padding: 20px;
  min-height: 100%;
  overflow: scroll;
  height: 100%;
}

.menu-active .options-container {
  max-width: 275px;
  background: #ececec;
}

.spiral-bg {
  position: absolute;
  /*
  left: 300px;
  top: 300px;
  */
  z-index: -10;
  width: 800px;
  height: 800px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/ArE6m3YQVW5prtNbf44t_deandre_jordan.jpg');
}

/* Graph styles */

svg {
  z-index: -50;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  left: 300px;
  top: 300px;
  */
  /*background: rgba(0,0,0,.01);*/
}

.frame {
  fill: none;
  stroke: #000;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.line {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 1.5px;
}



